package views

templ HomePage(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ title }</title>
		</head>
		<body>
			<h1>Garage Upgrade Calculator</h1>
			<h3>hello</h3>
		</body>
	</html>
}
